*{
    margin: 0;
    box-sizing: border-box;
}

.form{
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    width: 30%;
}

.form label{
    color: #1B5332;
    font-size: 0.8em;
}
.form a{

    color: #31A05F;
}
.form p{
    margin-top: 1em;
}
.form button{
    margin-top: 5%;
    width: 50%;
}