.comp{
    background-color: white;
    box-shadow: 0px 4px 10px rgba(245, 139, 114, 0.35);
    border-radius: 8px;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5em;
}

.plantDiv{
    flex:1;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #31A05F;
}
.circleDiv{ 
    background-color:rgba(245, 139, 114) ;
    border-radius: 70px;
    height: 120px;
    width:120px;
    background-image: url('/recursos/cilantro.png');
    background-size: cover;

}

.imgDiv{
    

}

.infoDiv{
    color:rgba(245, 139, 114);
    font-weight: lighter;
    font-size: 14px;
    display: flex;
    

}

.plantTitle{
    color: #1B5332;
    display:flex;
    font-weight: bold;
}
.plant-content-info{
    width: 60%;
    

 
}